[package]
name = "aurora-cli-rs"
version = "0.1.0"
authors = ["Aurora Labs <hello@aurora.dev>"]
edition = "2021"
rust-version = "1.68.2"
homepage = "https://github.com/aurora-is-near/aurora-cli-rs"
repository = "https://github.com/aurora-is-near/aurora-cli-rs"
description = "Aurora CLI is a command line interface to bootstrap Aurora engine"
readme = "README.md"

[[bin]]
name = "aurora-cli"
path = "src/main.rs"

[features]
default = [ "simple" ]
simple = []
advanced = []

[dependencies]
aurora-engine = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "817c0783960518d79fc830297b5949c76f28b321", features = ["std"] }
aurora-engine-precompiles = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "817c0783960518d79fc830297b5949c76f28b321", features = ["std"] }
aurora-engine-sdk = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "817c0783960518d79fc830297b5949c76f28b321", features = ["std"] }
aurora-engine-transactions = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "817c0783960518d79fc830297b5949c76f28b321", features = ["std"] }
aurora-engine-types = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "817c0783960518d79fc830297b5949c76f28b321", features = ["std", "impl-serde"] }

anyhow = "1"
borsh = "0.10"
bs58 = "0.4.0"
clap = { version = "4", features = ["derive"] }
ethabi = "18"
hex = "0.4.3"
libsecp256k1 = { version = "0.7", features = ["std"] }
near-chain-configs = "0.16"
near-crypto = "0.16"
near-jsonrpc-client = "0.5"
near-jsonrpc-primitives = "0.16"
near-primitives = "0.16"
reqwest = { version = "0.11", features = ["json"] }
rand = "0.8"
rlp = "0.5.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
tokio = { version = "1", features = ["full"] }

[dev-dependencies]
rand = "0.8"
