name: Shell Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  shell_tests:
    name: ${{ matrix.interface }} CLI
    runs-on: runs-on=${{ github.run_id }}/family=c6a.4xlarge/image=ubuntu24-full-x64/extras=s3-cache
    strategy:
      matrix:
        interface: [ Advanced, Simple, Silo ]
        include:
          - interface: Advanced
            args: --path ./cli --no-default-features -F advanced
            script: scripts/advanced.sh
          - interface: Simple
            args: --path ./cli
            script: scripts/simple.sh
          - interface: Silo
            args: --path ./cli
            script: scripts/simple-silo.sh
    steps:
      - name: Setup RunsOn
        uses: runs-on/action@v2
        with:
          metrics: cpu,network,memory,disk,io
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y jq python3-venv
      - name: Install aurora-cli
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: ${{ matrix.args }}
      - run: ${{ matrix.script }}
