name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  shell_tests:
    name: Tests ${{ matrix.interface }} CLI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        interface: [ Advanced, Simple, Silo ]
        include:
          - interface: Advanced
            args: --path . --no-default-features -F advanced
            script: scripts/advanced.sh
          - interface: Simple
            args: --path .
            script: scripts/simple.sh
          - interface: Silo
            args: --path .
            script: scripts/simple-silo.sh
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install aurora-cli (Advanced CLI)
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: ${{ matrix.args }}
      - run: ${{ matrix.script }}

