name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run clippy simple
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets -- -D warnings
      - name: Run clippy advanced
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets --no-default-features -F advanced -- -D warnings

  test:
    name: ${{ matrix.build }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [Linux, macOS, Windows]
        include:
          - build: Linux
            os: ubuntu-latest
          - build: macOS
            os: macos-latest
          - build: Windows
            os: windows-latest
    steps:
      - name: Setup Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt install libudev-dev pkg-config
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run tests simple
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-targets
      - name: Run tests advanced
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-targets --no-default-features -F advanced

  shell_tests:
    name: Tests ${{ matrix.interface }} CLI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        interface: [ Advanced, Simple, Silo ]
        include:
          - interface: Advanced
            args: --path . --no-default-features -F advanced
            script: scripts/advanced.sh
          - interface: Simple
            args: --path .
            script: scripts/simple.sh
          - interface: Silo
            args: --path .
            script: scripts/simple-silo.sh
    steps:
      - name: Setup Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt install libudev-dev pkg-config
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install aurora-cli (Advanced CLI)
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: ${{ matrix.args }}
      - run: ${{ matrix.script }}

